
body {
	background: #fff;
	color: #222;
}

img {
	width: 30%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search {
	width: 10%;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-120%, -50%);	
}

.feeling-lucky {
	width: 10%;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(0%, -50%);
}

input[type=text] {
	color: black;
	font-family: arial, sans-serif;
	background-image: url('../search.png');
	background-position: 620px 10px;
	background-size: 19px 19px;
	background-repeat: no-repeat;
}

input {
	width: 40%;
	padding: 12px 20px;
	margin: 0;
	border: 1.5px solid #ccc;
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	color: black;
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	font-family: verdana;
	font-size: 20px;
}
